{% extends 'ymc/base.html' %}
{% load static %}
{% load staticfiles %}
{% load avatar_tags %}

{% block subir_vid %}

{% if videos %}

<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ formulario.non_field_errors }}</p>
            <p>{{ formulario.nuevo_archivo.label_tag }} {{ formulario.nuevo_archivo.help_text }}</p>
            <p>
                {{ formulario.nuevo_archivo.errors }}
                {{ formulario.nuevo_archivo }}
            </p>
            <p><input type="submit" value="Subir"/></p>
        </form>

        {% endif %}

{% endblock %}
