{% extends 'ymc/base.html' %}

{% for video in videos %}
<div class="w3-container w3-card-2 w3-round w3-margin"><br>
  <div class="w3-container w3-left">
    <img src="{% get_media_prefix %}{{ video.usuario_asignado.avatar }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <br>
    <h6 class="w3-left w3-center w3-margin-right">{{ video.usuario_asignado.nombre|linebreaks}}{{video.usuario_asignado.apellido }}</h6>
  </div>
  <h3>{{ video.nombre }}</h3>
  <span class="w3-right"{{ video.fecha_publicacion }}</span>
        <hr class="w3-margin-right">
<p class="w3-margin-right w3-container">{{ video.descripcion|linebreaksbr }}</p>
<div class="w3-row-padding" style="margin:0 -16px">
  <div class="w3-centered">
    <img src="{% static "media/placeholder.jpg" %}" style="width: 100%" align="middle" alt="Placeholder de Video." class="w3-margin-bottom">
  </div>
</div>
<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="glyphicon glyphicon-heart"></i>  Me Gusta</button>
<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="glyphicon glyphicon-comment"></i>  Comentar</button>
</div>
{% endfor %}
